<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Excellent Reading Adventure</title>

    <%- include('../../layout/head') %>
</head>
<body>
  <h1>Excellent Reading Adventure</h1>
  <div>

    <%- include('detail', {book: book}) %>

  </div>
  <div>
    <a href="/">Return To Your Complete List of Books</a>
    <a href="/searches/new">Begin a New Search</a>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>


