<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Your Search Results</title>
  </head>
  <body>
    <main>
      <div>
        <h2>Dang, this adventure isn't so awesome!</h2>
        <h1>An Error Has Occurred</h1>
        <h2>Our sincerest apologies...</h2>
      </div>
    </main>
  </body>
</html>


