<li>
  <img src=<%= book.image_url %> alt="picture of book cover" title="picture of book cover">
  <h2><%= book.title %></h2>
  <h3><%= book.author %></h3>
  <a href="/books/<%= book.id %>">See Book Details</a>
</li>






deleted from "show" page about book Details
<% $( ".detail" ).show(); %>