* {
  box-sizing: border-box;
  background-color: rgb(232, 240, 243);
}
body {
  font-family: helvetica;
  /* display: flex; */
  justify-content: center;
  align-content: center;
  width: 480px;
  margin: auto; 
}
div {
  border: 2px darkgrey solid;
  text-align: center;
  
  }